.side-ber
  .side-header
    .side-header__box
      %p.side-header__box__username
        you
      %ul.side-header__box__menu
        %li.side-header__box__edit-user
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__new-group
          =link_to "#" do
            = icon('fas', 'cog')

  .groups
    = link_to "#", class:"group" do
      %p.group__name
        test
      %p.group__message
        まだメッセージがありません
      %p.group__name
        test2
      %p.group__message
        まだメッセージがありません
