.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;


    &__left-box {
      margin-top: 35px;
        &__current-group {
          color: #333333;
          font-size: 20px;
          margin-bottom: 15px;
        }
        &__member-list {
          color: #999999;
          font-size: 12px;
          display: flex;
        }
    }
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border: solid 1px #38aef0;
      position: absolute;
      padding: 0 20px;
      margin-top: 28px;
      right: 40px;
      a {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }

  .messages {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 46px 40px 0;
    .message {
      &__upper-message {
        display: flex;
        &__user-name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__lower-message {
        margin-top: 12px;
          color: #434a54;
          font-size: 14px;
      }
    }
  }

  .chat-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    form {
      display: flex;
      .input-box {
        display: flex;
        width: 100%;
        position: relative;
          &__text {
            height: 50px;
            width: 100%;
            color: #434a54;
            border-style: none;
            padding: 0 40px 0 10px;
          }
          &__image {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 1.3rem;

            &__file {
              display: none;
            }
          }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
      }
    }
  }
}