.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color:#ffffff;
  float: left;

  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__left-header {
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        display: flex;
        color: $light_gray;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    &__right-header {
      border: solid 1px #38aef0;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      margin: 30px 0 0;
      padding: 0 20px;
      a {
        color: $light_blue;
        text-decoration: none;
      }
    }
  }

  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px;
    height: calc(100vh - 100px - 90px);
    img {
      max-width: 10%;
     }
    .message {
      padding: 0 0 40px;
      .upper-message {
        display: flex;
        &__user-name {
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding: 0 40px 0 10px;
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit-btn {
      background-color: $light_blue;
      box-sizing: border-box;
      border: none;
      color: $white;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}